.pojem {
  font-style: italic;
  color: #111827;
}
.termi {
  font-weight: bold;
  color: #fbbf24;
}
.zvyr {
  font-weight: bolder;
  color: #111827;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
  /*
    height: 10px;
    display: block;
    color: #F9E675;
    border-radius: 10px;
    margin-top: 0;
    
    */
}
h1,
h3 {
  color: #111827;
  margin: 20px;
}
h2 {
  color: #111827;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
}
body {
  margin: 0;
  background-color: #e5e7eb;
  color: #374151;
}
h1 {
  padding-top: 10px;
  margin-top: 200px;
  text-align: center;
}
p, ul{
  padding: 2px 0;
  margin: 0 5%;
  padding-left: 40px;
}
ul {
  margin: 7%
}

.atmosfericka_refrakce {
  float: right;
  margin: 0 10px 10px 0;
  height: 370px;
  width: auto;
}
.fermantuv_princip {
  float: right;
  margin: 0 10px 10px 0;
  height: 120px;
  width: auto;
}
.index_lomu {
  height: 220px;
  width: auto;
  float: right;
  margin: 0 10px 10px 0;
}
.lom_ke_kolmici {
  float: right;
  margin: 0 10px 10px 0;
  height: 370px;
  width: auto;
}
.lom_na_planparaelni_desce {
  float: right;
  margin: 0 10px 10px 0;
  height: 250px;
  width: auto;
}
canvas {
  border: 1px solid #000000;
}
.canvas-container {
  text-align: center;
}
.uhel {
  width: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem 0 0 0.375rem;
  font-weight: 500;
}
.errorOutput {
  color: red;
  padding: 30px 0;
}
.vSireniSvetla {
  margin-left: 130px;
}
.n1, .n2 {
  margin: auto;
  max-width: 85%;
}
.n1-text, .n2-text {
  margin: auto;
  text-align: left;
}